{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
    <!--required meta tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Adjure {% block extra_title %}
        {% endblock %}</title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>